body {
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden;
}

.audiothing {
    display: none;
}

.testmp3 {
    display: none;
}

.backbg {
    background-color: black;
    height: 480px;
    width: 800px;
    position: relative; /* Ensure positioning context for absolute positioning */
}

.onecircle {
    width: 278px;
    height: 267px;
    position: absolute;
    border-radius: 278px;
    background-color: #161E30;
    backdrop-filter: blur(50px);
    left: -28px;
    top: 233px;
    z-index: 1; /* Lower z-index for circle */
}

.twocircle {
    width: 350px;
    height: 310px;
    position: absolute;
    border-radius: 350px;
    background-color: #3E1011;
    backdrop-filter: blur(50px);
    left: -133px;
    top: -43px;
    z-index: 1; /* Lower z-index for circle */
}

.threecircle {
    width: 356px;
    height: 337px;
    position: absolute;
    border-radius: 356px;
    background-color: #1F3559;
    backdrop-filter: blur(50px);
    left: 533px;
    top: 252px;
    z-index: 1; /* Lower z-index for circle */
}

.fourcircle {
    width: 262px;
    height: 262px;
    position: absolute;
    border-radius: 262px;
    background-color: #252513;
    backdrop-filter: blur(50px);
    left: 550px;
    top: -81px;
    z-index: 1; /* Lower z-index for circle */
}

.fivecircle {
    width: 292px;
    height: 306px;
    position: absolute;
    border-radius: 306px;
    background-color: #292723;
    backdrop-filter: blur(50px);
    left: 189px;
    top: 307px;
    z-index: 1; /* Lower z-index for circle */
}

.sixcircle {
    width: 262px;
    height: 264px;
    position: absolute;
    border-radius: 264px;
    background-color: #5C5C34;
    backdrop-filter: blur(50px);
    left: 264px;
    top: -125px;
    z-index: 1; /* Lower z-index for circle */
}

.blur {
    width: 800px;
    height: 480px;
    background-color: rgba(0, 0, 0, 0.00);
    backdrop-filter: blur(150px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; /* Higher z-index for the blur */
}